* {

  /*
  Configuração padrão que é necessário inserir em todas as páginas.


  */

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /*
  Configuração padrão pra quando você quer atribuir o valor rem para as fontes da página.


  */

  font-size: 62.5%;
}

body {
  background: linear-gradient(287.56deg, #c2e9fb 0%, #a1c4fd 100%);
  font-size: 1.6rem;




  /*

  Pra você organizar o elemento que está no body.


  */

  display: grid;
  place-items: center;


  /*
  O comando abaixo faz com que o body tenha a altura total de tudo que está aparecendo na página. Quando 
  você não utiliza esse comando, o body não abranger toda tela... O body vai significar apenas uma parte de 
  tudo que está aparecendo na tela, por isso é importante usar o vh.
  */

  height: 100vh;
}

main {
  background: #ffffff;
  box-shadow: 0px 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  padding: 4.8rem 6.4rem 6.4rem;

  /*

  O comando width: min(42.8rem, 90%); define a largura de um elemento como o valor
   mínimo entre 42.8rem e 90% da largura do elemento pai. Isso permite
    que o elemento tenha uma largura mínima fixa (em rem) ou uma largura 
    relativa ao seu contêiner (em %), dependendo do que for menor. Isso
     é útil para garantir que o elemento não exceda a largura disponível
      ou que não fique muito pequeno em dispositivos diferentes.


  */

  width: min(42.8rem, 90%);
  margin-top: -12rem;
}
